.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

.reservation-text {
  white-space: pre-line;
}

.btn {
  margin-right: 5px;
}

.search-bar {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 1200px) {
  .side-bar {
    height: 100vh;
  }
}

@media (max-width: 1199px) and (min-width: 469px) {
  .navbar-nav {
    flex-direction: row;
  }

  .navbar-nav li {
    margin: 0px 5px;
  }
}

@media (max-width: 420px) {
  .date-control {
    margin: 5px 0px;
  }
}